<div>
    <h1><b>Social media</b></h1>
    <p>
        <a href="https://discord.com/">Discord</a><br>
        <a href="https://www.instagram.com/">Instagram</a><br>
        <a href="https://www.facebook.com/homeofmovies29/">Facebook</a><br>
        <a href="https://www.reddit.com/?rdt=34230">Reddit</a><br>
    </p>
</div>
<div>
    <h1><b>Authors</b></h1>
    <p> 
        Stanislaw Krzysztof Graczykowski<br>
        Paul-Constantin Axinte<br>
        Krzysztof Sekulski<br>
        Eugénia Ficková<br>
        Alexandre Jorge Duarte Marques Pinto<br>
        Ruta Miglava
    </p>
</div>
<div>
    <h1><b>Contact Us</b></h1>
    <p> 
        email@email.com<br>
        SDU<br>
        Sonderborg<br>
        Denmark
    </p>
</div> 