{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--********* Banner Section *********-->
<div class="aboutpage_page_container">
    <div class="page_item aboutpage_item">
        <div class="aboutpage">
            <div class="banner">
                <img src="{% static 'movieApp/images/AboutPageBanner/Italian_Claasic.jpg' %}">
                <img src="{% static 'movieApp/images/AboutPageBanner/Pans_labyrinth_2.jpg' %}">
                <img src="{% static 'movieApp/images/AboutPageBanner/Schindlers-List-Typing.jpg' %}">
                <img src="{% static 'movieApp/images/AboutPageBanner/Matrix3.jpg' %}">
                <img src="{% static 'movieApp/images/AboutPageBanner/Schindlers_List.jpg' %}">
                <img src="{% static 'movieApp/images/AboutPageBanner/Pans_labyrinth.jpg' %}">
                <img src="{% static 'movieApp/images/AboutPageBanner/La-la-Land.jpg' %}">
                <img src="{% static 'movieApp/images/AboutPageBanner/Avatar_2.jpg' %}">
                <div class="text" style="margin-top:50px">Movies by country</div>
            </div>
        </div>
    </div>
</div>

<!--***************** Page content *****************-->
<div class="page_container mbc_page_container"> 
	{% for country in countries %}
	<!--********* Country {{ forloop.counter }} *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="{% url 'movieApp:movies_of_country' country.id %}">
			<h1>{{ country.name }}</h1>
		</a>
	</div>
	<!--********* Photos *********-->
	{% for movie in country.movies %}
	<div class="page_item mbc_page_item photo_item">
		<div class="photo_item_img_frame">
			<a href="{% url 'movieApp:movie_detail' movie.id %}">
				<img src="{% static 'movieApp/images/Movies/'|add:movie.image_path %}">
				<div class="overlay">
				</div>
			</a>
		</div>
		<div class="photo_item_name_frame">
			<a href="{% url 'movieApp:movie_detail' movie.id %}">
				<h1>{{ movie.title }}</h1>
			</a>
		</div>
	</div>
	{% endfor %}
	{% endfor %}
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'movieApp/CSSstyles/styles_movies_by_country.css' %}">
{% endblock %}
