{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'movieApp/css/styles_movies_by_country.css' %}">
{% endblock %}

{% block content %}

 
 <!--*****************************************************-->
 <div class="aboutpage_page_container">
	<!--********* About Page *********-->
	<div class="page_item aboutpage_item">
		<div class="aboutpage">
			<div class="banner">
				<img src="../images/AboutPageBanner/Italian_Claasic.jpg">
				<img src="../images/AboutPageBanner/Pans_labyrinth_2.jpg">
				<img src="../images/AboutPageBanner/Schindlers-List-Typing.jpg">
				<img src="../images/AboutPageBanner/Matrix3.jpg">
				<img src="../images/AboutPageBanner/Schindlers_List.jpg">
				<img src="../images/AboutPageBanner/Pans_labyrinth.jpg">
				<img src="../images/AboutPageBanner/La-la-Land.jpg">
				<img src="../images/AboutPageBanner/Avatar_2.jpg">
				<div class="text" style="margin-top:50px">TV Shows by country</div>
			<!--
			-->
			</div>
		</div>
	</div>
</div>
 
 

 <!--***************** Page content *****************-->
<div class="page_container mbc_page_container"> 
	
	<!--********* TV Shows by country *********-->
	<!--********* Country 1 *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country1</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img2.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img3.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img4.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	
	
	<!--********* Country 2 *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country2</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img5.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img6.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img7.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img8.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>

	<!--********* Country 3 *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country3</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img9.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img10.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie33/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie33/SlideShow/img2.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	
	<!--********* Country 4 *********-->
	<!--********* Title *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country4</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie33/SlideShow/img3.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie36/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie36/SlideShow/img2.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie36/SlideShow/img3.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	
	<!--********* Country 5 *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country5</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie41/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie41/SlideShow/img2.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie41/SlideShow/img3.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie33/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>

	<!--********* Country 6 *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country6</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img2.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img3.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img4.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	

	

	

	
	

</div>
<!--***************** Page content end *****************-->
{% endblock %}



{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetchMovies('portugal','moviesGridPT');
        fetchMovies('latvia','moviesGridLV');
        fetchMovies('slovakia, czechoslovakia','moviesGridSK');
        fetchMovies('romania','moviesGridRO');
        fetchMovies('poland','moviesGridPL');
        
    });

    function fetchMovies(cntry, gridID) {
        fetch('/api/content/')
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const movies = data.data.filter(item => item.type.toLowerCase() === 'movie' & item.country.toLowerCase() === cntry );
                    const filtered = movies.slice(0, 3);
					displayMovies(filtered, gridID);
                } else {
                    throw new Error('Failed to fetch movies');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById(gridID).innerHTML = `
                    <div class="error-message">
                        <h2>Oops!</h2>
                        <p>We couldn't load the movies. Please try again later.</p>
                    </div>
                `;
            });
    }

    function displayMovies(movies, gridID) {
        const container = document.getElementById(gridID);
        
        if (movies.length === 0) {
            container.innerHTML = `
                <div class="error-message">
                    <h2>No movies found</h2>
                    <p>Check back later for our latest additions!</p>
                </div>
            `;
            return;
        }

        container.innerHTML = movies.map(movie => `
            <div class="movie_card" onclick="window.location.href='/movie/${movie.id}'">
                <h2>${escapeHtml(movie.title)}</h2>
                <div class="movie_meta">
                    <span>${movie.year}</span> • 
                    <span>${escapeHtml(movie.genre)}</span>
                    ${movie.matureContent ? '<span class="mature_content">15+</span>' : ''}
                </div>
                <div class="movie_meta">
                    <span>${escapeHtml(movie.country)}</span>
                </div>
                <p class="description">${escapeHtml(movie.description).substring(0, 150)}...</p>
                <div class="movie_meta">Duration: ${formatDuration(movie.duration)}</div>
            </div>
        `).join('');
    }

    function formatDuration(duration) {
        try {
            const hours = duration.match(/(\d+)H/)?.[1] || 0;
            const minutes = duration.match(/(\d+)M/)?.[1] || 0;
            return hours > 0 ? `${hours}h ${minutes}m` : `${minutes}m`;
        } catch (e) {
            return duration;
        }
    }

    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }
</script>
{% endblock %}