<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Comunity for movie lovers">
	<meta name="keywords" content="Film, Movie, TV, TV-Show, Actor, Director, Comunity, Discussion, New in Theaters">
	<meta name="author" content="Group 15">

	<link rel="stylesheet" href="../styles/styles.css">
	<link rel="stylesheet" href="../styles/styles_menu_bar.css">
	<link rel="stylesheet" href="../styles/styles_footer.css">
	<link rel="stylesheet" href="../styles/styles_registration_page.css">
	<link rel="stylesheet" href="../styles/styles_movies_by_country.css">

	

</head>
<body>

<!--********* TOP BAR *********-->
<div class="topbar">
  <a class="active"  href="LandingPage.html"><img style="width:50px" src="../images/Logo.png"></a>	
  <a onclick="openNav()">Menu</a>
  <a class="right-align" style = "font-weight: bold;" href="SignIn.html">Sign In</a>
  <a class="right-align" href="Register.html">Register</a>
  <input type="text" placeholder="Search..">
</div>


<!--********* Side Menu *********-->
<div id="SideMenu" class="sidemenu">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="MoviesByCountry.html">Movies</a>
  <a href="TVShowsByCountry.html">TV Shows</a>
  <a href="CastAndCrewByCountry.html">Cast & Crew</a>
  <a href="Community.html">Community</a>
  <a href="About.html">About</a>
</div>

<script>
	function openNav() {
	  document.getElementById("SideMenu").style.width = "250px";
	}

	function closeNav() {
	  document.getElementById("SideMenu").style.width = "0";
	}
</script>








 
 <!--*****************************************************-->
 <div class="aboutpage_page_container">
	<!--********* About Page *********-->
	<div class="page_item aboutpage_item">
		<div class="aboutpage">
			<div class="banner">
				<img src="../images/AboutPageBanner/Italian_Claasic.jpg">
				<img src="../images/AboutPageBanner/Pans_labyrinth_2.jpg">
				<img src="../images/AboutPageBanner/Schindlers-List-Typing.jpg">
				<img src="../images/AboutPageBanner/Matrix3.jpg">
				<img src="../images/AboutPageBanner/Schindlers_List.jpg">
				<img src="../images/AboutPageBanner/Pans_labyrinth.jpg">
				<img src="../images/AboutPageBanner/La-la-Land.jpg">
				<img src="../images/AboutPageBanner/Avatar_2.jpg">
				<div class="text" style="margin-top:50px">TV Shows by country</div>
			<!--
			-->
			</div>
		</div>
	</div>
</div>
 
 

 <!--***************** Page content *****************-->
<div class="page_container mbc_page_container"> 
	
	<!--********* TV Shows by country *********-->
	<!--********* Country 1 *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country1</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img2.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img3.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img4.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	
	
	<!--********* Country 2 *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country2</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img5.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img6.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img7.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img8.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>

	<!--********* Country 3 *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country3</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img9.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img10.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie33/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie33/SlideShow/img2.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	
	<!--********* Country 4 *********-->
	<!--********* Title *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country4</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie33/SlideShow/img3.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie36/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie36/SlideShow/img2.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie36/SlideShow/img3.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	
	<!--********* Country 5 *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country5</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie41/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie41/SlideShow/img2.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie41/SlideShow/img3.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie33/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>

	<!--********* Country 6 *********-->
	<!--********* Title *********-->
	<div class="page_item mbc_page_item title_item">
		<a href="TVShowsOfCountry.html">
			<h1>Country6</h1>	
		</a>
	</div>
	<!--********* Photos *********-->
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img1.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img2.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img3.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	<div class="page_item mbc_page_item photo_item ">
		<div  class="photo_item_img_frame">
			<a href="TVShow.html">
				<img src="../images/Movies/Movie1/SlideShow/img4.jpg">
				<div class="overlay">
				</div>	
			</a>
		</div>
		<div  class="photo_item_name_frame">
			<a href="TVShow.html">
				<h1>TV Show Name</h1>			
			</a>
		</div>
	</div>
	

	

	

	
	

</div>
<!--***************** Page content end *****************-->

<!--********* Footer *********-->
<footer class="footer">
	<div>
		<h1><b>Social media</b></h1>
		<p>
		<a href="https://discord.com/">Discord</a><br>
		<a href="https://www.instagram.com/">Instagram</a><br>
		<a href="https://www.facebook.com/homeofmovies29/">Facebook</a><br>
		<a href="https://www.reddit.com/?rdt=34230">Redit</a><br>
		</p>
	</div>
	<div>
		<h1><b>Authors</b></h1>
		<p> 
			Stanislaw Krzysztof Graczykowski<br>
			Paul-Constantin Axinte<br>
			Krzysztof Sekulski<br>
			Eugénia Ficková<br>
			Alexandre Jorge Duarte Marques Pinto<br>
			Ruta Miglava
		</p>
	</div>
	<div>
		<h1><b>Contact Us</b></h1>
		<p> 
			email@email.com<br>
			SDU<br>
			Sonderborg<br>
			Denmark
		</p>
	</div>
</footer>

 
 
 
 
 
 
 
 <!--****************************************************-->
 
 

 

<br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

<br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

<br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

<br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

</body>
</html>
